@using BeaconBoard.CoreClasses;
@using WebMatrix.Data;

@{
    string message = "Welcome to BeaconBoard";
    string schema = Request.Form["schema"];
    string password = Request.Form["password"];
    if (IsPost && Validation.IsValid())
    {
        if (password == BBCore.password)
        {
            BBCore.currentSchema = schema;
            FormsAuthentication.SetAuthCookie(schema, false);
            Response.Redirect("~/index.cshtml");
        }
        else
        {
            message = "Credential Invald.";
        }
    }
}

<!DOCTYPE html>
<html>

<head>
    <title>Login | BeaconBoard</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <p>@Html.Raw(message)</p>
        <form name="login" action="" method="post">
            <p>Select Schema: <select name="schema">
                    <option value="czhong" selected>czhong</option>
                    <option value="Xwang">Xwang</option>
                    <option value="dfang">dfang</option>
                    <option value="xjiang">xjiang</option>
                    <option value="ylin">ylin</option>
                    <option value="yyang">yyang</option>
                </select>
            </p>
            <p>Password: <input type="password" name="password" placeholder="Password" /></p>
            <p><input type="submit" value="Login" /></p>
        </form>
    </div>

</body>

</html>
