html, body {
    margin: 0;
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    display: flex;
}

.wrapper {
    width: 250px;
    margin: auto;
    padding-bottom: 100px;
}

input, select {
    width: 100%;
    box-sizing: border-box;
}

input[type=submit] {
    background: none!important;
    color: inherit;
    border: none; 
    padding: 0!important;
    font: inherit;
    cursor: pointer;
    width: auto;
    color: #888;
}

input[type=submit]:hover {
    color: #ccc;
}